#imgEmotion{
	height:400px;
	width : 300px;
	position: absolute; /* postulat de départ */
  	top: 40%; left: 50%; /* à 50%/50% du parent référent */
  	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
#container{
	text-align: center;
	width : 70%;
	position: absolute; /* postulat de départ */
  	top: 85%; left: 50%; /* à 50%/50% du parent référent */
  	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
ul{
	list-style-type: none;
}
li{
	height :75px;
	width: 75px;
	display:inline-block;
	padding : 40px;
}