ul {
padding: 0;
margin: 0;
list-style: none;
}
.jSlots-wrapper {
overflow: hidden;
height: 20px;
display: inline-block; /* to size correctly, can use float too, or width*/
}
.slot {
float: left;
}
input[type="button"] {
display: block;
}
h1{
text-align: center;
}
/* ---------------------------------------------------------------------
FANCY EXAMPLE
--------------------------------------------------------------------- */
.Fancy{

}
.fancy .jSlots-wrapper {
overflow: hidden;
width : 300px;
height:400px;
display:inline-block;
}
.fancy .slot li {
width: 300px;
height:400px;
line-height: 100px;
text-align: center;
font-size: 70px;
font-weight: bold;
color: #fff;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
font-family: 'Gravitas One', serif;
border-left: 1px solid #999;
}
#playFancy{
    margin-top: -3px;
    margin-left: 100px;
}
.fancy .slot:first-child li {
border-left: none;
}
.fancy .slot li:nth-child(3) {
background: center url("../img/rouletteArt/imgLeft/AG.png");
background-size: cover;
}
.fancy .slot li:nth-child(2) {
background: center url("../img/rouletteArt/imgLeft/BG.png");
background-size: cover;
}
.fancy .slot li:nth-child(1),
.fancy .slot li:nth-child(8) {
background: center url("../img/rouletteArt/imgLeft/CG.png");
background-size: cover;
}
.fancy .slot li span {
display: block;
}
/* ---------------------------------------------------------------------
FANCY2 EXAMPLE
--------------------------------------------------------------------- */
.Fancy2{

}
.fancy2 .jSlots-wrapper {
overflow: hidden;
display: inline-block; /* to size correctly, can use float too, or width*/
width : 300px;
height:400px;
float:right;
}
.fancy2 .slot2 li {
width: 300px;
height:400px;
line-height: 100px;
text-align: center;
font-size: 70px;
font-weight: bold;
color: #fff;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
font-family: 'Gravitas One', serif;
border-left: 1px solid #999;
}
#playFancy2{
    margin-left: 100px;
}
.fancy2 .slot2:first-child li {
border-left: none;
}
.fancy2 .slot2 li:nth-child(3) {
background: center url("../img/rouletteArt/imgRight/CD.png");
background-size: cover;
}
.fancy2 .slot2 li:nth-child(2) {
background: center url("../img/rouletteArt/imgRight/BD.png");
background-size: cover;
}
.fancy2 .slot2 li:nth-child(1),
.fancy2 .slot2 li:nth-child(8) {
background: center url("../img/rouletteArt/imgRight/AD.png");
background-size: cover;
}
.fancy2 .slot2 li span {
display: block;
}
/* ---------------------------------------------------------------------
ANIMATIONS
--------------------------------------------------------------------- */
@-webkit-keyframes winner {
0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
    font-size:70px;
    color: #fff;
}
25% {
    -webkit-transform: rotate(20deg);
    font-size:90px;
    color: #FF16D8;
}
75% {
    -webkit-transform: rotate(-20deg);
    font-size:90px;
    color: #FF16D8;
}
}
@-moz-keyframes winner {
0%, 50%, 100% {
    -moz-transform: rotate(0deg);
    font-size:70px;
    color: #fff;
}
25% {
    -moz-transform: rotate(20deg);
    font-size:90px;
    color: #FF16D8;
}
75% {
    -moz-transform: rotate(-20deg);
    font-size:90px;
    color: #FF16D8;
}
}
@-ms-keyframes winner {
0%, 50%, 100% {
    -ms-transform: rotate(0deg);
    font-size:70px;
    color: #fff;
}
25% {
    -ms-transform: rotate(20deg);
    font-size:90px;
    color: #FF16D8;
}
75% {
    -ms-transform: rotate(-20deg);
    font-size:90px;
    color: #FF16D8;
}
}
@-webkit-keyframes winnerBox {
0%, 50%, 100% {
    box-shadow: inset 0 0  0px yellow;
    background-color: #FF0000;
}
25%, 75% {
    box-shadow: inset 0 0 30px yellow;
    background-color: aqua;
}
}
@-moz-keyframes winnerBox {
0%, 50%, 100% {
    box-shadow: inset 0 0  0px yellow;
    background-color: #FF0000;
}
25%, 75% {
    box-shadow: inset 0 0 30px yellow;
    background-color: aqua;
}
}
@-ms-keyframes winnerBox {
0%, 50%, 100% {
    box-shadow: inset 0 0  0px yellow;
    background-color: #FF0000;
}
25%, 75% {
    box-shadow: inset 0 0 30px yellow;
    background-color: aqua;
}
}
.winner li {
-webkit-animation: winnerBox 2s infinite linear;
-moz-animation: winnerBox 2s infinite linear;
-ms-animation: winnerBox 2s infinite linear;
}
.winner li span {
-webkit-animation: winner 2s infinite linear;
-moz-animation: winner 2s infinite linear;
 -ms-animation: winner 2s infinite linear;
}
#point{
height: 350px;
z-index : -1;
}
/* Syntax Highlighter, ignore */
.dp-highlighter ol {
padding: 10px;
}
#content{
display: inline-flex;
height: 600px;
}
#wrapper{
width: 600px;
height: 500px;
position: absolute; /* postulat de départ */
top: 50%; left: 50%; /* à 50%/50% du parent référent */
transform: translate(-50%, -50%);
}

#btnConfirm{
position: absolute; /* postulat de départ */
top: 90%; left: 50%; /* à 50%/50% du parent référent */
transform: translate(-50%, -50%);     
}
label {
vertical-align: top;
text-align: center;
}
textarea{
}
#countdown {
margin: auto;
margin-top: 100px;
height: 100px;
width: 100px;
text-align: center;
position: absolute; /* postulat de départ */
top: 0%; left: 90%; /* à 50%/50% du parent référent */
transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#countdown-number {
color: black;
display: inline-block;
line-height: 40px;
}

svg {
position: absolute;
top: 0;
right: 0;
width: 100px;
height: 40px;
transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
stroke-dasharray: 113px;
stroke-dashoffset: 100px;
stroke-linecap: round;
stroke-width: 3px;
stroke: black;
fill: none;
animation: countdown 1s linear infinite forwards;
}

@keyframes countdown {
from {
stroke-dashoffset: 0px;
}
to {
stroke-dashoffset: 200px;
}
