#score{
	position : absolute;
	top : 20%;
	left : 79%;
	font-size: 50px;
	color : white;
}
#home{
	width: 100px;
	position: absolute; /* postulat de départ */
	top: 90%; left: 40%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%);
}
#diplome{
	width: 350px;
	height: 250px;
	position: absolute; /* postulat de départ */
	top: 70%; left: 60%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%);
}
table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 100px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}